{% extends "base.html" %}
{% block title %}Buy{% endblock %}

{% block content %}

<br><br><br><br>
<h1 class="title is-1" id="title">Own this meme</h1>
<br><br>

<h1 class="subtitle is-3 bold center"><strong>0.1 SOL</strong></h1>
<div class="center">
    <button class="button is-info is-large popup" onclick="dev()"><strong>buy</strong></button>
</div>

<br><br>

<div class="center">
    <a href="/"><button class="button is-large"><strong>back</strong></button></a>
</div>

<br><br><br>

{% endblock %}